.board {
  width: 450px;
  height: 470px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.letter {
  height: 55px;
  border: 2px solid #3a3a3c;
  margin: 3.5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  line-height: 32px;
  font-weight: 700;
  color: white;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  width: 55px;

  &.scale {
    scale: 1.1;
  }
}

.row > div.correct {
  --background: #528d4e;
  width: 57px;
  height: 57px;
  background: #121212;
  animation-name: flip;
  -webkit-animation-name: flip;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.row > div.almost {
  --background: #b49f39;
  background: #121212;
  width: 57px;
  height: 57px;
  animation-name: flip;
  -webkit-animation-name: flip;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.row > div.error {
  --background: #3a393c;
  --border-color: #3a393c;
  background: #121212;
  animation-name: flip;
  -webkit-animation-name: flip;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.row > div:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.row > div:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.row > div:nth-child(4) {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.row > div:nth-child(5) {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

/* animations */

@keyframes flip {
  0% {
    transform: scaleY(1);
    background: #121212;
  }
  55% {
    transform: scaleY(0);
    background: var(--background);
  }
  100% {
    transform: scaleY(1);
    background: var(--background);
  }
}

.shakeError {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
